.intro {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  height: 100vh;
  padding: 24px;
  text-align: center;
  & > div {
    align-items: center;
    display: flex;
    flex-direction: column;    
    gap: 40px;
  }
  &.active {
    .intro__header {
      visibility: visible;
      span {
        --animation-delay: 0;   
        animation: 1s reveal ease forwards;
        animation-delay: var(--animation-delay);
        transform: translateY(100%) rotate(12deg);
        transform-origin: left;
      }
    }
    .intro__button {
      visibility: visible;
      &::after {
        transition: .6s cubic-bezier(1,0,0,1) all;
        transition-delay: 2s;
        width: 100%;
      }
    }
  }
  &__button {
    color: transparent;
    display: inline-block;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
    padding: 0 0 12px;
    > div {
      overflow: hidden;
    }
    &::after,
    &::before {
      background: $near-black;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 0%;
    }
    &::before {
      background: $white;
      left: -100%;
      transition: .6s cubic-bezier(.6,0,0,.6) left;
      width: 100%;
      z-index: 1;
    }
    span {
      --animation-delay: 1.4s;
      animation: .5s slideUp cubic-bezier(1,0,0,.05) forwards;
      animation-delay: var(--animation-delay);
      color: $near-black;
      display: flex;
      align-items: center;
      gap: 16px;
      transform: translateY(100%);
      white-space: nowrap;
    }
    i {
      font-style: normal;
      transition: .2s ease transform;
    }
    &:hover > div i {
      position: relative;
      transform: translateX(4px);
    }
    &:hover::before {      
      left: 100%;
      transition: .6s cubic-bezier(.6,0,0,.6) left;
    }
  }
  &__header {
    visibility: hidden;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 155%;
    margin: 0 auto;
    text-align: center;
    div {
      display: block;
      overflow: hidden;
    }
    span {
      display: inline-block;    
    }
  }
}


@keyframes reveal {
  to {
    transform: translateY(0) rotate(0deg);
  }
}


@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}


@media screen and (min-width: 768px) {
  .intro {
    &__header { 
      font-size: 18px;
    }
    &__button { 
      font-size: 16px;
    }
  }
}