<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="favicon.png">

  <title>Hexguess</title>
  <meta name="title" content="Hex Guess - A color game">
  <meta name="description" content="A simple game to test how well you know your hex codes.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.hexguess.com/">
  <meta property="og:title" content="A color game">
  <meta property="og:description" content="A simple game to test how well you know your hex codes">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.hexguess.com/">
  <meta property="twitter:title" content="A color game">
  <meta property="twitter:description" content="A simple game to test how well you know your hex codes">
  <meta property="twitter:image" content="">
</head>
<body>
  <div class="intro">
    <img src="logo.svg" alt="Hexguess logo" />
    <div>
      <h1 class="intro__header">Hexguess is a simple game designed to<br/> evaluate your understanding of hex codes.</h1>
      <button class="intro__button" href="">Start game</button>
    </div>
  </div>
<body>
</html>