body {
	background: $near-black;
	color: $white;
	font-family: $primary-font;
}

a {
	text-decoration: none;
}

::selection {
	background: transparent;
	color: currentColor;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}