body {
	background: $white;
	color: $dark-grey;
	font-family: $primary-font;
}

a {
	color: inherit;
	text-decoration: none;
}

::selection {
	background: transparent;
	color: currentColor;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}